@model SPA_CRUD.DAL.Models.ViewModel

@{
    ViewBag.Title = "List";
}
<style>
    button {
        background-color: cornflowerblue;
        color: white;
        cursor: pointer;
    }

    .crudBtn {
        width: 150px;
        height: 50px;
        background: url(../../Content/Images/trashCan.png);
    }
</style>
@section Scripts{
    <script>
        $("#Add").hide();


        function appearFunc() {
            if ($("#Add").is(":visible")) {
                $("#Add").hide();
            } else {
                $("#Add").show();
            }
        }

     
    </script>
}


@if (Model.Users != null)
{
    <button onclick="appearFunc()">Add</button>
    <table class="table" id="colleagueTable" style="border-radius:10px; margin-top: 20px; text-align:center">
        <thead style="background-color:#3164a3; color: white; text-align:center; border-radius:10px;">

            <tr>
                <th style="text-align:center; color:white">
                    #
                </th>
                <th style="text-align:center; color:white">
                    Username
                </th>

                <th style="text-align:center;color:white">
                    Department
                </th>
                <th></th>
            </tr>
        </thead>
        @using (Html.BeginForm())
        {
            foreach (var item in Model.Users)
            {
                <tr>
                    <td style="max-width:400px">
                        @item.Id
                    </td>
                    <td>
                        @item.UserName
                    </td>
                    <td>
                        <div>
                            @Model.Departments.First(u => u.Id == item.DepartmentId).Title
                        </div>
                    </td>
                    <td>
                        <button onclick="editFunc()" id="editBtn">Edit</button>
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "crudBtn" })

                    </td>
                </tr>
            }
        }

    </table>
    
    
    using (Html.BeginForm("Add", "Home"))
    {
        <div id="Add">
            <table class="table">
                <thead> Add new user</thead>
                <tr>
                    <td>
                        Username
                    </td>
                    <td>
                        Department
                    </td>
                </tr>
                <tr>
                    <td>
                        <input name="username" type="text" placeholder="Insert new name" />
                    </td>
                    <td>
                        <select name="department">
                            <option>IT</option>
                            <option>Not IT</option>
                        </select>
                    </td>

                </tr>
            </table>
            <button type="submit">Submit new employer</button>
        </div>
    }
}
else
{
    <h4 class="lead" style="text-align:center;" id="noRequestsTitle">А где моделька-то?</h4>
}